# Instruction conditionnelle

## Booléens & tests

In [2]:
2 == 5

False

In [3]:
14 < 13

False

In [4]:
12 <= 6 + 6

True

## Tests composés

In [7]:
9 == 3**2 and 12 - 3 == 9 #renvoie True si les deux tests renvoient True

True

In [6]:
9 == 3**2 or 12 - 3 != 9

True

## Mots clefs if, elif, else

In [8]:
if True:
    print('blabla')

blabla

In [9]:
if 2 == 4:
    print('problème') #ne sera pas affiché car le test est faux#

In [11]:
if 4 > 5:
    print('zêta')

In [15]:
k = int(input()) #permet à l'utilisateur de choisir la valeur de k#
if k <= 0:
    print('k est négatif ')
elif k <= 10:
    print('k est plus petit que 10')
else:
    print('k est strictement plus grand que 10')

25
k est strictement plus grand que 10

In [14]:
def styl_vt(n): #n nb de stylos#
    if n < 50:
        return 0.7*n
    elif n < 250: #dim de 10 % -> *0.9#
        return 0.9 * (0.7*n)
    else: #dim de 15 % -> *0.85#
        return 0.85 * (0.7*n)

In [16]:
def styl_vt(n): #n nb de stylos#
    if n < 50:
        return 0.7*n
    if n < 250: #on met un if à la place du elif#
        return 0.9 * (0.7*n)
    return 0.85 * (0.7*n)
    #pas de else & on aligne ce dernier return avec les if#

In [17]:
styl_vt(10)

7.0

In [18]:
styl_vt(100)

63.0

In [19]:
styl_vt(500)

297.5

In [ ]:
def prix_lot(n): #n nb d'objets'#
    if n < 20:
        return 35*n
    if n < 50: 
        return 0.93 * (35*n)
    if n < 120:
        return 0.9* (35*n)
    return 0.85 * (35*n)

# Boucle bornée

## Itérable

In [20]:
liste = [2, 4, 7.8 , 'plop']

In [3]:
print(list(range(6))) #la liste commence à 0 et finit à 6-1=5

[0, 1, 2, 3, 4, 5]

In [21]:
print(list(range(2, 5)))

[2, 3, 4]

In [24]:
print(list(range(0, 10 , 2)))

[0, 2, 4, 6, 8]

## Mot clef for

In [26]:
for k in range(1, 10):
    print(k)

1
2
3
4
5
6
7
8
9

In [30]:
cpt = 1 #cpt pour compteur#
for k in range(5):
    cpt = 3*cpt
    print(cpt)

3
9
27
81
243

In [28]:
def livret(n):
    s = 600 #somme à l'ouverture#
    for t in range(n): #sert à décompter les années#
        s = 1.0115*s - 4.2
    return round(s, 2) #arrondit au centime s#

print(livret(5), livret(10), livret(20))

613.81 628.44 660.33

In [31]:
def Alice_vs_Bob(n):
    d_A = 3000
    d_B = 3000
    for ent in range(n):
        d_A = d_A + 600
        d_B = 1.06*d_B
    return d_A, d_B

In [32]:
Alice_vs_Bob(5)

(6000, 4014.6767328000005)

In [34]:
for n in range(40):
    print(n, Alice_vs_Bob(n))

0 (3000, 3000)
1 (3600, 3180.0)
2 (4200, 3370.8)
3 (4800, 3573.0480000000002)
4 (5400, 3787.4308800000003)
5 (6000, 4014.6767328000005)
6 (6600, 4255.557336768001)
7 (7200, 4510.890776974081)
8 (7800, 4781.544223592526)
9 (8400, 5068.436877008077)
10 (9000, 5372.5430896285625)
11 (9600, 5694.895675006276)
12 (10200, 6036.5894155066535)
13 (10800, 6398.784780437053)
14 (11400, 6782.711867263277)
15 (12000, 7189.674579299074)
16 (12600, 7621.055054057019)
17 (13200, 8078.318357300441)
18 (13800, 8563.017458738468)
19 (14400, 9076.798506262776)
20 (15000, 9621.406416638543)
21 (15600, 10198.690801636856)
22 (16200, 10810.612249735068)
23 (16800, 11459.248984719172)
24 (17400, 12146.803923802323)
25 (18000, 12875.612159230463)
26 (18600, 13648.148888784292)
27 (19200, 14467.03782211135)
28 (19800, 15335.060091438032)
29 (20400, 16255.163696924315)
30 (21000, 17230.473518739775)
31 (21600, 18264.301929864163)
32 (22200, 19360.160045656015)
33 (22800, 20521.769648395377)
34 (23400, 21753.0758272991)
35 (24000, 23058.260376937047)
36 (24600, 24441.755999553272)
37 (25200, 25908.26135952647)
38 (25800, 27462.75704109806)
39 (26400, 29110.522463563942)